@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: whitesmoke;
}
a{
    color: black;
}
.container{
    max-width: 1212px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.maindiv{
      font-family: "Montserrat", sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}
.formleft{
    background-color: black;
    background-image: url('../images/Group\ 336.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding-top: 67px ;
    padding-bottom: 150px;
}
.formleft h2{
    padding-top: 80px;
}
.formleft p{
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.formleft .btn{
     background-image: linear-gradient(120deg,rgb(13, 195, 13),rgb(152, 203, 42));
    color: white;
    padding: 8px 50px;
    border-radius: 50px;
}
.formleft .btn:hover{
     background-image: linear-gradient(120deg,orange,white);
    color: black;
}

.formright{
    background-color: white;
   color:black;
   padding: 67px 50px 96px 50px;
   text-align: center;
}

.formright h3{
      background-image: linear-gradient(120deg,rgb(13, 195, 13),rgb(152, 203, 42));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.form_icon .fb{
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
    margin-right: 5px;
}
.form_icon .go{
  border: 1px solid black;
    border-radius: 50px;
    padding: 5px ;  
    margin-right: 5px;
}
.form_icon .tw{
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 6px;
}
input{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px gray;
}
.formrightbt .btn{
    background-image: linear-gradient(120deg,rgb(13, 195, 13),rgb(152, 203, 42));
    color: white;
    padding: 5px 30px;
    border-radius: 50px; 
}
.formrightbt .btn:hover{
     background-image: linear-gradient(120deg,orange,rgb(152, 203, 42));
    color: black;
}
::placeholder{
    color: black !important;
}

.sign_form{
    position: relative;
}
.form_input{
    position: relative;
}

.input_group{
    display: flex;
    align-items: center;
}
.input_icon1{
    position: absolute;
    margin-left: -105px;
    z-index: 200; 
     transform: translate(-26%, 0%);
}
.input_icon2{
    position: absolute;
    margin-left: -118px;
    margin-top: 40px;
    z-index: 200;
    transform: translate(-25%, -50%);
}
.input_icon3{
    position: absolute;
    margin-left: -115px;
    margin-top: 50px;
    z-index: 200;
    transform: translate(-25%, -92%);
}

.error{
    color: red;
}
 @media screen and (max-width:489px) {
    input{
        padding: 8px 15px;
    }
 }
 @media screen and (max-width:360px) {
      .input_icon1{
    position: absolute;
    margin-left: -93px;
}
.input_icon2{
    position: absolute;
    margin-left: -100px;
}
.input_icon3{
    position: absolute;
    margin-left: -100px;
}
 }